/build/
/.gradle
/.idea
*.iml
.env
database.db
/bin/
/.vscode/
.idea
postgres.env

# THIS SHOULD ALWAYS BE IGNORED AS THIS IS YOUR CONFIG.
# THIS HAS POTENTIALLY SENSITIVE INFORMATION, SO DO NOT LEAK ANYTHING IN THIS.
NabiConfig.yaml
